.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: blanchedalmond;
  bottom: 0;
  height: 60px;
  left: 0;
  position: fixed;
  width: 100%;
}
